/*mudei a fonte de todo o site*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* modifiquei o header*/
header{
    background-color: blue;
    grid-area: header;
    position: relative;
}
/* modifiquei o texto do header*/
header h1{
    right: 45%;
    position: absolute;
    color: rgb(255, 255, 255);
}
/*mudei a cor do aside*/
aside{
    background-color: cornflowerblue;
}
/*modifiquei o main*/
main{
    background-color: rgba(255, 255, 255, 0.836);
    grid-area: principal;
}
/*modifiquei o footer*/
footer{
    background-color: rgb(0, 0, 61);
    grid-area: footer;
    height: 150px;
    text-align: center;
    color: white;
    
}
/*responsividade*/
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header header header"
    "secundario principal principal"
    "footer footer footer";
    grid-template-columns:auto auto auto;
    grid-template-rows:100px auto auto;
}
/*responsividade*/
@media only screen and (max-width: 400px) {
    body{
        grid-template-areas: 
        "header"
        "principal"
        "footer";
        grid-template-columns: auto;
    }
    header h1{
        right: 45%;
        top: 0px;
        position: relative;
        color: rgb(255, 255, 255);
        
    }
    aside{
        display: none;
    }
}
/* modifiquei o elementomae para torna-lo responsivo*/
.elementomae{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}
/* modificação do card*/
.caixa{
    width: 300px;
    height:450px ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.322);
    border-color: 10px white;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    justify-content: 20px;
    display: flex;
    padding: 10px;
    border: 0.1px rgba(0, 0, 0, 0.26) solid;
}
/* botão do card*/
button{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 50px;
    color: white;
    margin-top: -20px;

}
/* ajustei a imagem no formato do card*/
.caixa img{
    width: 280px;
    height: 743px ;
    border-radius: 20px;
    margin: 10px;
}
/* transição do card*/
.caixa:hover{
    background-color: rgba(69, 71, 94, 0.158);
    transition: 0.5s;
    transition-delay: 5ms;
}
/* modificação dos links de navegação*/  
aside nav li{
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 10px;
}
nav ul li{
    list-style: none;
    font-size: 20px;
}
nav li a{
    text-decoration-line: none;
    color: white;
}
/* transição dos links de pesquisa*/
nav li a:hover{
    background-color: #0505ffcc;
    border-radius: 5px;
}
/* link do produto*/
div a{
    color: white;
    text-decoration: none;
}
/* alinhei os elementos do div*/
div{
    text-align: center;
}

.nav_mobile ul{
    list-style: none;
    /*border: rgb(255, 174, 0) solid 2px;*/
    position: absolute;
    top: 50px;
    width: 290px;
}

.nav_mobile input[type="checkbox"]{
    display: none;
}

.nav_mobile nav{
    background-color: rgba(13, 12, 17, 0.884);
    /*border: red solid;*/
    width: 350px;
    height: 1080px;
    position: absolute;
    left: -370px;
    transition: all 0.3s;
}
.nav_mobile a{
    padding: 10px 10px;
    /*border: green solid;*/
    display: block;
    text-decoration: none;
}

.nav_mobile label{
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 35px;
}
.nav_mobile input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

.nav_mobile span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  /*left: 10px;*/
}