header{
    background-color: blue;
    grid-area: header;
    position: relative;
}

.logotipo{
    position: absolute;
    padding: 0,5%;
    width: auto;
    flex-wrap: wrap;

}

header h1{
    right: 45%;
    position: absolute;
    font-size: 50px;
    color: white;
    margin-top: 15px;
}

aside{
    background-color: cornflowerblue;
    width: 80px;
}


main{
    background-color: rgba(255, 255, 255, 0.836);
    grid-area: principal;
}

footer{
    background-color: rgb(0, 0, 255);
    grid-area: footer;
    height: 100px;
}

body{
    background-color: black;
}

body{
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header header header"
    "secundario principal principal"
    "footer footer footer";
    grid-template-columns:auto auto auto;
    grid-template-rows:100px auto auto;
}

@media only screen and (max-width: 1000px) {
    body{
        grid-template-areas: 
        "header"
        "secundario"
        "principal"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}
 .elementomae{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

 }

.caixa{
    width: 300px;
    height:450px ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.322);
    border-color: 10px white;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    justify-content: 20px;
    display: flex;

}
button{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 50px;
    color: white;
    margin-top: -10px;
}
.caixa img{
    width: 280px;
    border-radius: 20px;
    margin: 10px;
}

.caixa:hover{
    background-color: rgba(0, 0, 255, 0.137);
    transition: 0.5s;
    transition-delay: 5ms;
}

nav li a{
    text-decoration-line: none;
    color: white;
    top: 10px;
    position:relative;
    
}

nav li{
    display: inline;
    font-size: 20px;
    top: 10px;
}

nav li a:hover{
    background-color: black;
    border-radius: 5px;
    transition: 5ms;


}

div{
    text-align: center;
}